<main class="contenedor contenedor-formulario">
  <h1><%- nombrePagina %></h1>

  <form action="/iniciar-sesion" method="post" class="default-form">
    <div class="campo">
      <label>E-mail</label>
      <input type="email" name="email" placeholder="Tu E-Mail" />
    </div>

    <div class="campo">
      <label>Password</label>
      <input type="password" name="password" placeholder="******" />
    </div>

    <div class="campo enviar">
      <input type="submit" value="Iniciar Sesión" class="btn btn-rosa" />
    </div>
  </form>
</main>
